<%-include("partials/header.ejs")%>

<div class="aboutcontent">
    <div class="about-content">
        <div class="about-heading"><h1>Hi! This is Sahilpreet.</h1></div>
        <div class="about-para"><p style="color: aliceblue;">Welcome to my website! I'm a full stack developer who's always had a passion for understanding te world around me. This platform isn't just another blog; it's a space for you to share whatever's on your mind. After submitting your blog, you'll see it live on te website alongside oter diverse and intriguing entries. Join me in building a community where everyone's voice is heard and celebrated.</p></div>
    </div>
    
    <!--<p style="color: aliceblue;">Welcome to my website! I'm a full stack developer who's always had a passion for understanding te world around me. This platform isn't just another blog; it's a space for you to share whatever's on your mind. After submitting your blog, you'll see it live on te website alongside oter diverse and intriguing entries. Join me in building a community where everyone's voice is heard and celebrated.</p>-->

</div>



<%-include("partials/footer.ejs")%>